@model ModifyPasswordViewModel
<article class="page-container">
	<form class="form form-horizontal" asp-controller="Home" asp-action="ModifyPassword" method="post">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>旧密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="" asp-for="OldPwd">
				<span asp-validation-for="OldPwd" style="color:red;"></span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="" asp-for="NewPwd">
				<span asp-validation-for="NewPwd" style="color:red;"></span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="" asp-for="ConfirmPwd">
				<span asp-validation-for="ConfirmPwd" style="color:red;"></span>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 修改密码</button>
				<button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
				<span style="color:red; font-size:18px;">@Html.ValidationSummary(true)</span>
			</div>
		</div>
	</form>
</article>