@model SelectUserViewModel

<span class="select-box inline">
	<input asp-for="Value" type="text" id="@{@Model.Prefix}SelectUser" name="@{@Model.Prefix}SelectUser" class="input-text" placeholder="多个会员用“,”分隔" />
</span>
<button class="btn btn-primary radius" type="button" onclick="layer_show('选择会员','/Admin/User/SelectUser?OpenerText=@{@Model.Prefix}SelectUser','700')">会员列表</button>
