@model RolesEntity
<form class="form form-horizontal" asp-controller="Administrator" asp-action="RoleEdit" method="post">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" asp-for="RoleName">
			<span asp-validation-for="RoleName" style="color:red;"></span>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>角色描述：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea class="textarea" asp-for="Description" value=""></textarea>
			<span asp-validation-for="Description" style="color:red;"></span>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 提交并设置权限</button>
			<input type="hidden" asp-for="RoleID" />
			<span style="color:red; font-size:18px;">@Html.ValidationSummary(true)</span>
		</div>
	</div>
</form>

