<%@ CodeTemplate Language="C#" TargetLanguage="C#" ResponseEncoding="UTF-8" Src="..\Common.cs" Inherits="CommonFunction.Common" Debug="False" Description="Template description here." %>
<%@ Property Name="ControllerName" Type="String" Category="Context" Default="" Description="The name to include in the comment header" %>
<%@ Property Name="NameSpace" Type="String" Category="Context" Default="JXWebHost.Areas.Admin.Controllers" Description="The namespace to use for this class" %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Category="Context" Optional="false" Description="Database that the documentation should be based on." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." Optional="True"%>
<%@ Property Name="DetailTable" Type="SchemaExplorer.TableSchema" Category="Context" Optional="True" Description="Table that the object is based on." %>
<%@ Property Name="StoreProcedure" Type="SchemaExplorer.CommandSchema " Category="Context" Optional="True" Description="Table that the object is based on." %>
<%@ Property Name="View" Type="SchemaExplorer.ViewSchema " Category="Context" Optional="True" Description="Table that the object is based on." %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Collections.Specialized" %>

<div class="text-c">
	<span class="select-box inline">
		<select id="dropSearchName" class="select">
		<% for (int i = 0; i < SourceTable.Columns.Count; i++) { %>
			<% if(SourceTable.Columns[i].DataType == DbType.String) {%>
			<option value="<%= SourceTable.Columns[i].Name %>"><%= SourceTable.Columns[i].Description %></option>
			<% } %>
		<% } %>
		</select>
	</span>
	<input type="text" class="input-text" style="width:250px" id="txtSearchKeyword" onkeypress="javascript:return DefaultButton(event, 'btnSearch')">
	<button id="btnSearch" type="button" class="btn btn-success" onclick="loadTables(0,20);"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</div>
<div class="cl pd-5 bg-1 bk-gray mt-20">
	<span class="l">
		<a href="javascript:;" onclick="DeleteMulti('/Admin/<%= ControllerName %>/Del<%= SourceTable.Name %>Multi',loadTables)" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
		<a href="javascript:;" onclick="layer_show('添加','/Admin/<%= ControllerName %>/<%= SourceTable.Name %>Edit')" class="btn btn-secondary radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a>
	</span>
	<span class="r">共有数据：<strong id="ctlRecordTotal">0</strong> 条</span>
</div>
<div class="cl pd-5 bg-1 bk-gray mt-20">
	<div class="tabBar cl">
		<span onclick="GoToTab(this,0);" class="current">全部</span>
	</div>
	<input type="hidden" id="hidTab" value="0" />
</div>
<table class="table table-border table-bordered table-bg table-hover">
	<thead>
		<tr class="text-c">
			<th width="25"><input type="checkbox" name="" value=""></th>
			<% for (int i = 0; i < SourceTable.Columns.Count; i++) { %>
				<th width="100"><%= SourceTable.Columns[i].Description %></th>
			<% } %>
			<th width="80">操作</th>
		</tr>
	</thead>
	<tbody id="tableBody"></tbody>
</table>
<div style="text-align:right;">
	<ul id="grid_paging_part"></ul>
</div>
@Html.AntiForgeryToken()
@section scripts {
	<script type="text/javascript">
		$(function () {
			loadTables(0, 20);
		});
		function loadTables(PageNum, PageSize) {
			$("#tableBody").html("");
			var SearchName = $("#dropSearchName").val();
			var SearchKeyword = $("#txtSearchKeyword").val();
			var TabStatus = $("#hidTab").val();
			var parm = "PageNum=" + PageNum + "&PageSize=" + PageSize
				+ "&SearchName=" + encodeURIComponent(SearchName)
				+ "&SearchKeyword=" + encodeURIComponent(SearchKeyword)
				+ "&TabStatus=" + encodeURIComponent(TabStatus);
			$.ajax({
				type: "GET",
				url: "/Admin/<%= ControllerName %>/Get<%= SourceTable.Name %>List?" + parm + "&_t=" + new Date().getTime(),
				contentType: "application/x-www-form-urlencoded;charset=UTF-8",
				success: function (data) {
					$.each(data.rowList, function (i, item) {
						var tr = "<tr class=\"text-c\">";
							tr += "<td><input type='checkbox' value='" + item.<%= GetCleanParName(SourceTable.PrimaryKey.MemberColumns[0].Name) %> + "' class='checkboxs'></td>";
						<% for (int i = 0; i < SourceTable.Columns.Count; i++) { %>
							<% if(SourceTable.Columns[i].DataType == DbType.DateTime) {%>
							tr += "<td>" + (item.<%= GetCleanParName(SourceTable.Columns[i].Name) %> == null ? "" : (formatDateTime(item.<%= GetCleanParName(SourceTable.Columns[i].Name) %>) == "9999-12-31 23:59:59") ? "" : formatDateTime(item.<%= GetCleanParName(SourceTable.Columns[i].Name) %>)) + "</td>";
							<% } else { %>
							tr += "<td>" + item.<%= GetCleanParName(SourceTable.Columns[i].Name) %> + "</td>";
							<% } %>
						<% } %>
						tr += "<td class=\"td-manage\">";
						tr += "<a title=\"详细\" href=\"javascript:;\" style=\"text-decoration:none\" onclick=\"layer_show('查看','/Admin/<%= ControllerName %>/<%= SourceTable.Name %>View/" + item.<%= GetCleanParName(SourceTable.PrimaryKey.MemberColumns[0].Name) %> + "')\" class=\"ml-5\"><i class=\"Hui-iconfont\">&#xe665;</i></a>";
						tr += "<a title=\"编辑\" href=\"javascript:;\" style=\"text-decoration:none\" onclick=\"layer_show('编辑','/Admin/<%= ControllerName %>/<%= SourceTable.Name %>Edit/" + item.<%= GetCleanParName(SourceTable.PrimaryKey.MemberColumns[0].Name) %> + "')\" class=\"ml-5\"><i class=\"Hui-iconfont\">&#xe6df;</i></a>";
						tr += "<a title=\"删除\" href=\"javascript:;\" style=\"text-decoration:none\" onclick=\"DeleteSingle('" + item.<%= GetCleanParName(SourceTable.PrimaryKey.MemberColumns[0].Name) %> + "','/Admin/<%= ControllerName %>/Del<%= SourceTable.Name %>',loadTables)\" class=\"ml-5\"><i class=\"Hui-iconfont\">&#xe6e2;</i></a>";
						tr += "</td>";
						tr += "</tr>";
						$("#tableBody").append(tr);
					})
					$("#ctlRecordTotal").html(data.recordTotal);
					var elment = $("#grid_paging_part"); //分页插件的容器id
					if (data.recordTotal > 0) {
						var options = { //分页插件配置项
							bootstrapMajorVersion: 3,
							currentPage: data.pageNum + 1, //当前页
							numberOfPages: data.recordTotal, //总数
							totalPages: data.pageCount, //总页数
							numberOfPages:10,//设置控件显示的页码数
							itemTexts: function (type, page, current) {
								switch (type) {
									case "first":
										return "首页";
									case "prev":
										return "上一页";
									case "next":
										return "下一页";
									case "last":
										return "末页";
									case "page":
										return page;
								}
							},
							onPageChanged: function (event, oldPage, newPage) { //页面切换事件
								loadTables(newPage - 1, PageSize);
							}
						}
						elment.bootstrapPaginator(options); //分页插件初始化
					}
				}
			})
		}
	</script>
}



