<%@ CodeTemplate Language="C#" TargetLanguage="C#" ResponseEncoding="UTF-8" Src="..\Common.cs" Inherits="CommonFunction.Common" Debug="False" Description="Template description here." %>
<%@ Property Name="ControllerName" Type="String" Category="Context" Default="" Description="The name to include in the comment header" %>
<%@ Property Name="NameSpace" Type="String" Category="Context" Default="JXWebHost.Areas.Admin.Controllers" Description="The namespace to use for this class" %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Category="Context" Optional="false" Description="Database that the documentation should be based on." %>
<%@ Property Name="SourceTable" Type="SchemaExplorer.TableSchema" Category="Context" Description="Table that the object is based on." Optional="True"%>
<%@ Property Name="DetailTable" Type="SchemaExplorer.TableSchema" Category="Context" Optional="True" Description="Table that the object is based on." %>
<%@ Property Name="StoreProcedure" Type="SchemaExplorer.CommandSchema " Category="Context" Optional="True" Description="Table that the object is based on." %>
<%@ Property Name="View" Type="SchemaExplorer.ViewSchema " Category="Context" Optional="True" Description="Table that the object is based on." %>
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Collections.Specialized" %>
@model <%=GetEntityClassName(SourceTable) %>
<form class="form form-horizontal" asp-controller="<%= ControllerName %>" asp-action="<%= SourceTable.Name %>Edit" method="post">
	<% for (int i = 0; i < SourceTable.Columns.Count; i++) { %>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span><%= SourceTable.Columns[i].Description %>：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" asp-for="<%= SourceTable.Columns[i].Name %>" data-val="true" data-val-required="不能为空">
			<span asp-validation-for="<%= SourceTable.Columns[i].Name %>" style="color:red;"></span>
		</div>
	</div>
	<% } %>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 提交</button>
			<button class="btn btn-default radius" type="button" onclick="layer_close()">取消</button>
			<input type="hidden" asp-for="<%= SourceTable.PrimaryKey.MemberColumns[0].Name %>" />
			<span style="color:red; font-size:18px;">@Html.ValidationSummary(true)</span>
		</div>
	</div>
</form>