@{
	Layout = "_UserLayout";
}
<p>Email:@ViewData["Email"]</p>
<p>Mobile:@ViewData["Mobile"]</p>
<p>Sex:@ViewData["Sex"]</p>
<p>TrueName:@ViewData["TrueName"]</p>
<p>UserID:@ViewData["UserID"]</p>
<p>GroupID:@ViewData["GroupID"]</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>
<p>webcome</p>